<div class='a2-selection'>
  <label>Countries alpha 2 codes</label>

  <select [ngModel]="selectedA2" (ngModelChange)="onA2Changed($event)">
    <option [value]='a2' *ngFor="let a2 of countriesA2s">{{ a2 }}</option>
  </select>
</div>

<hr>

<div class='country-details'>
  <div>
    <label>Capital city:</label> {{ capital }}
  </div>  

  <div>
    <label>Continent:</label> {{ continent }}
  </div>  

  <div>
    <label>Region:</label> {{ region }}
  </div>  

  <div>
    <label>Dialling National Prefix:</label> {{ diallingNationalPrefix }}
  </div>  

  <div>
    <label>Area:</label> {{ area | number }} km * km
  </div>  

  <div>
    <label>Population Count:</label> {{ populationCount | number }}
  </div>  

  <div>
    <label>Population Precentage (from world):</label> {{ populationPrecentage }}%
  </div>  
</div>